@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/googlesans-regular.woff2) format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/src/assets/googlesans-bold.woff2) format("woff2");
}

b{
  color: rgba(blue, 0.3);
}