@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  @apply text-themed-text;
}

button,
a {
  cursor: default;
}

button {
  user-select: none;
}

::selection {
  @apply bg-blue-100;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

@layer components {
  .form-input-wrapper {
    display: flex;
    gap: 7px;
    flex-direction: column;
  }

  .text-input {
    @apply rounded px-4 py-2 outline-themed-stroke;
    @apply focus:outline-themed-accent-bg outline-1 focus:outline-2 outline;
  }

  label {
    @apply text-xs uppercase font-medium text-gray-600;
  }

  .btn {
    @apply rounded-md hover:bg-themed-hover-bg border border-themed-stroke active:bg-themed-active-bg select-none;
    @apply focus:outline-black focus:outline-1;
  }
}

@layer utilities {
  .custom-scrollbar {
    position: relative;
    scrollbar-gutter: stable both-edges;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
    border-radius: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-themed-bg-elevated;
    border-radius: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-themed-hover-bg;
    border-radius: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:active {
    /* background: rgb(68, 68, 68); */
    @apply bg-themed-active-bg;
    border-radius: 6px;
  }
}
