.mobile-hide {
  display: none;
}

@screen md {
  .mobile-hide {
    display: initial;
  }
}

@screen md {
  .only-on-mobile {
    display: none !important;
  }
}

.tagbadge- {
  &-white {
    @apply text-themed-text;
  }
}
